version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
rebase-strategy: "auto"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
