repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: debug-statements
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python
      - id: isort
        name: isort
        entry: isort
        language: system
        types:
          - python
      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types:
          - python
      - id: black
        name: black
        entry: black
        language: system
        types:
          - python
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.10.1
    hooks:
      - id: validate-pyproject
