repos:
-   repo: git@github.com:pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: check-added-large-files
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.6
    hooks:
    -   id: flake8
-   repo: https://gitlab.com/pycqa/pydocstyle
    rev: 4.0.1
    hooks:
    -   id: pydocstyle
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    -   id: black
