include model_bakery/mock_file.txt
include model_bakery/mock_img.jpeg
include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include requirements.txt requirements_dev.txt
include tox.ini
recursive-include tests *.py
recursive-include docs *.rst
recursive-include utils *.py
