-r requirements.txt

black==21.5b2
flake8==3.9.2
isort==5.8.0
mypy==0.812
pillow==8.2.0
pip-tools==6.1.0
pre-commit==2.13.0
psycopg2-binary==2.8.6
pycodestyle==2.7.0
pydocstyle==6.1.1
pytest==6.2.3
pytest-django==4.2.0
