-r requirements.txt

black==22.10.0
flake8==5.0.4
isort==5.10.1
mypy==0.982
pillow==9.3.0
pip-tools==6.9.0
pre-commit==2.20.0
psycopg2-binary==2.9.5
pycodestyle==2.9.1
pydocstyle==6.1.1
pytest==7.2.0
pytest-django==4.5.2
click==8.1.3
