-r requirements.txt

black==21.10b0
flake8==4.0.1
isort==5.9.3
mypy==0.910
pillow==8.4.0
pip-tools==6.4.0
pre-commit==2.15.0
psycopg2-binary==2.9.1
pycodestyle==2.8.0
pydocstyle==6.1.1
pytest==6.2.5
pytest-django==4.5.0
