name: PyPI release

on:
  release:
    types: [ published ]

jobs:
  package:
    name: Build & verify package
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: pip

      - name: Build package
        run: |
          python -m pip install -U build twine wheel
          python -m build
          twine check --strict dist/*

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
